<script type="text/javascript">

<%
var total = 0;
var average;
for (var d in isAvaliableSource.data) {
  total = total + isAvaliableSource.data[d].band;
}
average = (total / isAvaliableSource.data.length).toPrecision(3);
%>
  $('#results_graph').highcharts({
    chart: {
      marginBottom: 60
    },
    colors: ['#152859', '#666666', '#60C0CE', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
    title: {
        text: 'Bandwidth (Mbps)',
        align: 'left',
        margin: 30,
        style: { "color": "#152859", "fontSize": "13px" }
    },
    legend: {
      align: 'right',
      verticalAlign: 'bottom',
      borderWidth: 0,
      floating: true
    },
    xAxis: {
        categories: [<% for (var d in isAvaliableSource.data) { %> '<%=(isAvaliableSource.data[d].date.replace("/", ""))%>'<% if (d <isAvaliableSource.data.length - 1) { %> , <%}%><%}%>]
    },
    yAxis: {
      title: {
        text: null
      },
      labels: {
        style: {
          color: '#60C0CE'
        }
      }
    },
    tooltip: {
        shared: true,
        valueSuffix: ' Mbps'
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        areaspline: {
            fillOpacity: 0.5
        }
    },
    series: [{
        name: 'Interval measurements',
        data: [<% for (var d in isAvaliableSource.data) { %> <%=(isAvaliableSource.data[d].band)%><% if (d < isAvaliableSource.data.length - 1) { %> , <%}%><%}%>]
    }, {
        name: 'Average measurement',
        data: [<%=average%>, <%=average%>, <%=average%>, <%=average%>, <%=average%>]
    }]
  });    
</script>
		
<table class="table">  
  <thead>  
    <tr>  
      <th>Id</th>
      <th>Date</th>    
      <th>Bandwidth</th>         
    </tr>  
  </thead>  
  <tbody>
    <%for (var d in isAvaliableSource.data) {%>
    <tr>  
      <td class="id_cell"><%=d%></td>  
      <td><%=((isAvaliableSource.data[d].date.replace("/", "")))%></td>
      <td><%=(isAvaliableSource.data[d].band)%> Mbps</td>  
    </tr>
    <%}%>
    <tr>  
      <td></td>
      <td class="average_cell">Average</td>  
      <td class="average_cell_result"><%=average %> Mbps</td> 
    </tr>
  </tbody>  
</table>