<script type="text/javascript">
<% var interval = isAvaliableSource.interval %>
<%var transfer = isAvaliableSource.transfer %>
<%var banwidth = isAvaliableSource.banwidth %>
<%var band = isAvaliableSource.band %>
<%var date = isAvaliableSource.date %>
<%var average=((band[5]+band[11]+band[18]+band[20]+band[22])/5).toPrecision(3)%>

$(function () {
        $('#results_graph').highcharts({
            chart: {
              marginBottom: 60
            },
            colors: ['#152859', '#666666', '#60C0CE', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
            title: {
                text: 'Bandwidth (Mbps)',
                align: 'left',
                margin: 30,
                style: { "color": "#152859", "fontSize": "13px" }
            },
            legend: {
              align: 'right',
              verticalAlign: 'bottom',
              borderWidth: 0,
              floating: true
            },
            xAxis: {
                categories: [
                   1,2, 3, 4, 5
                   
                ],
                plotBands: [{ // visualize the weekend
                    from: -0.4,
                    to: 6.4,
                }]
            },
            yAxis: {
              title: {
                text: null
              },
              labels: {
                style: {
                  color: '#60C0CE'
                }
              }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' Mbps'
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.5
                }
            },
            series: [{
                name: 'Interval measurements',
                data: [<%=band[5]%>,<%=band[11]%>, <%=band[17]%>, <%=band[18]%>, <%=band[22]%> ]
            }, {
                name: 'Average measurement',
                data: [<%=average%>, <%=average%>, <%=average%>, <%=average%>, <%=average%>]
            }]
        });
    });
    
</script>
		
<table class="table">  
  <thead>  
    <tr>  
      <th>Id</th>
      <th>Date</th>    
      <th>Bandwidth</th>         
    </tr>  
  </thead>  
  <tbody>  
    <tr>  
      <td class="id_cell">1</td>  
      <td><%=(date[0] || '') %></td>      
      <td><%=(band[5] ) %> Mbps</td>  
    </tr>  
    <tr>  
      <td class="id_cell">2</td>  
      <td><%=(date[1] || '') %></td>        
      <td><%=(band[11] ) %> Mbps</td> 
    </tr>  
    <tr>  
      <td class="id_cell">3</td>  
      <td><%=(date[2] || '') %></td>  
      <td><%=(band[17] ) %> Mbps</td> 
    </tr>  
    <tr>  
      <td class="id_cell">4</td>  
      <td><%=(date[3] || '') %></td>   
      <td><%=(band[18] ) %> Mbps</td> 
    </tr> 
    <tr>  
      <td class="id_cell">5</td>  
      <td><%=(date[4] || '') %></td>  
      <td><%=(band[22] ) %> Mbps</td> 
    </tr>
    <tr>  
      <td></td>
      <td class="average_cell">Average</td>  
      <td class="average_cell_result"><%=(average || '') %> Mbps</td> 
    </tr>
  </tbody>  
</table>