<script type="text/javascript">
<%var interval = data.interval %>
<%var transfer = data.transfer %>
<%var bandwidth = data.bandwidth %>
<%var average=((bandwidth[0]+bandwidth[1]+bandwidth[2]+bandwidth[3]+bandwidth[4])/5).toPrecision(3)%>

$('#results_graph').highcharts({
  chart: {
    marginBottom: 60
  },
  colors: ['#152859', '#666666', '#60C0CE', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1'],
  title: {
      text: 'Bandwidth (Mbps)',
      align: 'left',
      margin: 30,
      style: { "color": "#152859", "fontSize": "13px" }
  },
  legend: {
    align: 'right',
    verticalAlign: 'bottom',
    borderWidth: 0,
    floating: true,
    itemStyle: { "color": "#666666", "cursor": "pointer", "fontSize": "10px"}
  },
  xAxis: {
      categories: [
          '0.0-2.0 sec',
          '2.0-4.0 sec',
          '4.0-6.0 sec',
          '6.0-8.0 sec',
          '8.0-10.0 sec'
         
      ],
      plotBands: [{ // visualize the weekend
          from: -0.4,
          to: 6.4,

      }]
  },
  yAxis: {
    title: {
      text: null
    },
    labels: {
      style: {
        color: '#60C0CE'
      }
    }
  },
  tooltip: {
      shared: true,
      valueSuffix: ' Mbps'
  },
  credits: {
      enabled: false
  },
  plotOptions: {
  },
  series: [{
      name: 'Interval measurements',
      data: [<%=bandwidth[0]%>,<%=bandwidth[1]%>, <%=bandwidth[2]%>, <%=bandwidth[3]%>, <%=bandwidth[4]%> ]
  }, {
      name: 'Average measurement',
      data: [<%=average%>, <%=average%>, <%=average%>, <%=average%>, <%=average%>]
  }]
  });    
</script>

<table class="table">  
  <thead>  
    <tr>  
      <th>Id</th>
      <th>Interval</th>  
      <th>Data Transferred</th>  
      <th>Bandwidth</th>  
    </tr>  
  </thead>  
  <tbody>  
    <tr>  
      <td class="id_cell">1</td>  
      <td><%=(interval[0] || '') %></td>  
      <td><%=(transfer[0] ||'') %></td>  
      <td><%=(bandwidth[0] ) %> Mbps</td>  
    </tr>  
    <tr>  
      <td class="id_cell">2</td>  
      <td><%=(interval[1] || '') %></td>  
      <td><%=(transfer[1] ||'') %></td>  
      <td><%=(bandwidth[1] ) %> Mbps</td> 
    </tr>  
    <tr>  
      <td class="id_cell">3</td>  
      <td><%=(interval[2] || '') %></td>  
      <td><%=(transfer[2] ||'') %></td>  
      <td><%=(bandwidth[2] ) %> Mbps</td> 
    </tr>  
    <tr>  
      <td class="id_cell">4</td>  
      <td><%=(interval[3] || '') %></td>  
      <td><%=(transfer[3] ||'') %></td>  
      <td><%=(bandwidth[3] ) %> Mbps</td> 
    </tr> 
    <tr>  
      <td class="id_cell">5</td>  
      <td><%=(interval[4] || '') %></td>  
      <td><%=(transfer[4] ||'') %></td>  
      <td><%=(bandwidth[4] ) %> Mbps</td> 
    </tr>
    <tr>  
      <td></td>  
      <td></td>  
      <td class="average_cell">Average</td>  
      <td class="average_cell_result"><%=(average || '') %> Mbps </td> 
    </tr>
  </tbody>  
</table>