<div class="col-md-6">
  <div>
    <h3 class="title3">Bandwidth Service</h3>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a class="serv_tab" href="#bw_demand" data-toggle="tab">Live Request</a></li>
        <li><a class="serv_tab" href="#bw_history" data-toggle="tab">History</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="bw_demand">
          <form method='POST' action='/bdw'>
            <div>
              <div class="all_form">
                <div class="all_form_row">
                  <label class="serv_label" for="source">Host source:</label> 
                  <select id="bdw_demand_source" name="source" >
                    <%for (var n in nodes) {
                      %>
                        <option><%=n%></option>
                      <%
                    }%>
                  </select>
                  <select id="bdw_demand_source_ip" name="source1" >
                    <%for (var i in nodes[Object.keys(nodes)[0]]) {
                      %>
                        <option><%=nodes[Object.keys(nodes)[0]][i]%></option>
                      <%
                    }%>  
                  </select>
                </div>
                <div class="all_form_row">
                  <label class="serv_label" for="destination">Host destination:</label> 
                  <select id="bdw_demand_dest" class="host" name="destination" >
                    <%for (var n in nodes) {
                      %>
                        <option><%=n%></option>
                      <%
                    }%>     
                  </select>
                  <select id="bdw_demand_dest_ip" name="destination1" >
                    <%for (var i in nodes[Object.keys(nodes)[0]]) {
                      %>
                        <option><%=nodes[Object.keys(nodes)[0]][i]%></option>
                      <%
                    }%> 
                  </select>
                </div>          
                <div class="all_form_row">
                  <div class="test_button">
                      <input class="submit_button btn btn-blue" name="commit" type="submit" value="Test"/>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        
        <div class="tab-pane" id="bw_history">
          <form method='POST' action='/bdwhistory'>
            <div>
              <div class="all_form">
                <div class="all_form_row">
                  <label class="serv_label" for="source">Host source:</label> 
                  <select id="bdw_hist_source" class="host" name="source" >
                    <%for (var n in nodes) {
                      %>
                        <option><%=n%></option>
                      <%
                    }%>    
                  </select>
                  <select id="bdw_hist_source_ip" name="source1" >
                    <%for (var i in nodes[Object.keys(nodes)[0]]) {
                      %>
                        <option><%=nodes[Object.keys(nodes)[0]][i]%></option>
                      <%
                    }%> 
                  </select>
                </div>
                <div class="all_form_row">
                  <label class="serv_label" for="destination">Host destination:</label> 
                  <select id="bdw_hist_dest" class="host" name="destination" >
                    <%for (var n in nodes) {
                      %>
                        <option><%=n%></option>
                      <%
                    }%>     
                  </select>
                  <select id="bdw_hist_dest_ip" name="destination1" >
                    <%for (var i in nodes[Object.keys(nodes)[0]]) {
                      %>
                        <option><%=nodes[Object.keys(nodes)[0]][i]%></option>
                      <%
                    }%> 
                  </select>
                </div>
                <div class="all_form_row">
                  <div class="test_button">          
                    <input class="submit_button btn btn-blue" name="commit" type="submit" value="   Display    "/>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div>
    <h3 class="title3">Latency Service</h3>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a class="serv_tab" href="#latency_demand" data-toggle="tab">Live Request</a></li>
        <li><a class="serv_tab" href="#latency_history" data-toggle="tab">History</a></li>
      </ul>
      
      <div class="tab-content">
        <div class="tab-pane active" id="latency_demand">
          <form method='POST' action='/owd/'>
            <div class="left_box" id="all_form">
              <div class="all_form">
                <div class="all_form_row">
                  <label class="serv_label" for="source">Host source:</label>
                  <select id="lat_demand_source" class="host" name="source" >
                    <%for (var n in nodes) {
                      %>
                        <option><%=n%></option>
                      <%
                    }%>    
                  </select>
                  <select id="lat_demand_source_ip" name="source1" >
                    <%for (var i in nodes[Object.keys(nodes)[0]]) {
                      %>
                        <option><%=nodes[Object.keys(nodes)[0]][i]%></option>
                      <%
                    }%> 
                  </select>
                </div>
                <div class="all_form_row">
                  <label class="serv_label" for="destination">Host destination:</label> 
                  <select id="lat_demand_dest" class="host" name="destination" >
                    <%for (var n in nodes) {
                      %>
                        <option><%=n%></option>
                      <%
                    }%>     
                  </select>
                  <select id="lat_demand_dest_ip" name="destination1" >
                    <%for (var i in nodes[Object.keys(nodes)[0]]) {
                      %>
                        <option><%=nodes[Object.keys(nodes)[0]][i]%></option>
                      <%
                    }%> 
                  </select>
                </div>
                <div class="all_form_row">
                  <div class="test_button">
                    <input class="submit_button btn btn-blue" name="commit" type="submit" value="   Test   "/>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="latency_history">
          <form method='POST' action='/owdhistory/'>
            <div>
              <div class="all_form">
                <div class="all_form_row">
                  <label class="serv_label" for="source">Host source:</label>
                  <select id="lat_hist_source" class="host" name="source" >
                    <%for (var n in nodes) {
                      %>
                        <option><%=n%></option>
                      <%
                    }%> 
                  </select>
                  <select id="lat_hist_source_ip" name="source1" >
                    <%for (var i in nodes[Object.keys(nodes)[0]]) {
                      %>
                        <option><%=nodes[Object.keys(nodes)[0]][i]%></option>
                      <%
                    }%> 
                  </select>
                </div>
                <div class="all_form_row">
                  <label class="serv_label" for="destination">Host destination:</label> 
                  <select id="lat_hist_dest" class="host" name="destination" >
                    <%for (var n in nodes) {
                      %>
                        <option><%=n%></option>
                      <%
                    }%>   
                  </select>
                  <select id="lat_hist_dest_ip" name="destination1" >
                    <%for (var i in nodes[Object.keys(nodes)[0]]) {
                      %>
                        <option><%=nodes[Object.keys(nodes)[0]][i]%></option>
                      <%
                    }%> 
                  </select>
                </div>
                <div class="all_form_row">
                  <div class="test_button">
                    <input class="submit_button btn btn-blue" name="commit" type="submit" value="   Display   "/>
                  </div>
                </div>
              </div>
            </div>
          </form>       
        </div>
      </div>
    </div>
  </div>
</div>