<!DOCTYPE html>

<script type="text/javascript">

$(function () {
	
	
    $('#result_modal_body').highcharts({
        chart: {
            type: 'areaspline'
        },
        title: {
            text: 'One-Way Delay'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 150,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: '#FFFFFF'
        },
        xAxis: {
            categories: [
                <%=(isAvaliableSource.owd_data[1]).toString()%> , "2", "3", "4", "5"              
            ],
            plotBands: [{ // visualize the weekend
                from: -0.4,
                to: 6.4,
                color: 'rgba(68, 170, 213, .2)'
            }]
        },
        yAxis: {
            title: {
                text: 'Delay (ms)'
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' ms'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        series: [{
            name: 'Max',
            data: [<%=(isAvaliableSource.owd_data[1])%>,<%=(isAvaliableSource.owd_data[7])%>,<%=(isAvaliableSource.owd_data[13])%>,<%=(isAvaliableSource.owd_data[19])%>,<%=(isAvaliableSource.owd_data[25])%>]
        }, {
            name: 'Min',
            data: [<%=(isAvaliableSource.owd_data[0])%>,<%=(isAvaliableSource.owd_data[6])%>,<%=(isAvaliableSource.owd_data[12])%> ,<%=(isAvaliableSource.owd_data[18])%>,<%=(isAvaliableSource.owd_data[24])%>]
        },  {
            name: 'Jitter',
            data: [<%=(isAvaliableSource.owd_data[4])%>,<%=(isAvaliableSource.owd_data[10])%>,<%=(isAvaliableSource.owd_data[16])%>,<%=(isAvaliableSource.owd_data[22])%>,<%=(isAvaliableSource.owd_data[28])%>]
        }]
    });
});

    $('#result_modal').modal();
</script>


<a href="/owd">
<div class="section">
  <div class="headerSection accordionTitle">
    <div class="leftIcon">
      <img src="/images/infographic/iconMondo.png" height="55">
    </div>
    <div class="rightDetail">
      <span id="coresNum"></span> <a href="/owd">Latency Service</a> 
    </div>
    <div class="clear"></div>
  </div>
  <div class="bodySection accordionPanel bigPanel" style="display: none;">
    
      </div>
</div>
</a> 

<div class="conta" id="hig" style="margin-left: 1em">


<br>

<%var info = (isAvaliableSource.info).split(';')%>
<div class="title">
 <!-- <h3> <th>One-Way Delay</th>  </h3>  -->
  <label class="title" for="source"> Host source:  <%=(info[0])%></label> 
<label class="title" for="destination">Host destination:  <%=(info[1])%></label> 
</div>
</br>


<div class="clear"></div>

<form method='POST' action='/owamp/'>

    <input type='hidden' name='redir' value=''>

    <div class="left_box" id="all_form">

	

	
	
<table class="table">  

    <thead>  
      <tr>  
        <th>ID</th>
        <th>Date</th>
        <th>Min</th>   
        <th>Max</th> 
        <th>Jitter</th>  
          
      </tr>  
    </thead>  
    <tbody>  
      <tr>  
        <th>1</th>  
        <!--<td><%=(isAvaliableSource.date[0].match(/[-0-9]+/g)[0] || '')%></td> -->
        <td><%=((isAvaliableSource.date[0].replace("/", "")) || '')%></td>
        <td><%=(isAvaliableSource.owd_data[0] || '')%> ms</td>  
        <td><%=(isAvaliableSource.owd_data[1]||'')%>  ms</td>  
        <td><%=(isAvaliableSource.owd_data[4]|| '')%> ms</td>  
      </tr>  
      <tr>  
        <th>2</th>
        <td><%=((isAvaliableSource.date[1].replace("/", "")) || '')%></td> 
        <td><%=(isAvaliableSource.owd_data[6] || '')%> ms</td>  
        <td><%=(isAvaliableSource.owd_data[7]||'')%>  ms</td>  
        <td><%=(isAvaliableSource.owd_data[10]|| '')%> ms</td>  
      </tr>   
            <tr>  
        <th>3</th> 
        <td><%=((isAvaliableSource.date[2].replace("/", "")) || '')%></td> 
        <td><%=(isAvaliableSource.owd_data[12] || '')%> ms</td>  
        <td><%=(isAvaliableSource.owd_data[13]||'')%>  ms</td>  
        <td><%=(isAvaliableSource.owd_data[16]|| '')%> ms</td>  
      </tr>
            <tr>  
        <th>4</th>  
        <td><%=((isAvaliableSource.date[3].replace("/", "")) || '')%></td> 
        <td><%=(isAvaliableSource.owd_data[18] || '')%> ms</td>  
        <td><%=(isAvaliableSource.owd_data[19]||'')%>  ms</td>  
        <td><%=(isAvaliableSource.owd_data[22]|| '')%> ms</td>  
      </tr>

      <tr>  
        <th>5</th>  
        <td><%=((isAvaliableSource.date[4].replace("/", "")) || '')%></td>  
        <td><%=(isAvaliableSource.owd_data[24] || '')%> ms</td>  
        <td><%=(isAvaliableSource.owd_data[25]||'')%>  ms</td>  
        <td><%=(isAvaliableSource.owd_data[28]|| '')%> ms</td>  
      </tr>
  
    </tbody>  
  </table>  
	
  
  <br>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</br>
	
	  <br>
	
	            <div class="all_form_row">
                <div class="all_field">
                    <label for="source">GET:  </label>

                </div>
            </div>

            <div class="all_form_row">
                <div class="all_field">
                    <%=(isAvaliableSource.path)%>
		    	</div>
            </div>	
		
    </div>

</form>

</div>